<div><a *ngIf="!isMobile" routerLink="/zoom" routerLinkActive="active" [queryParams]="{id:'start'}" target="_blank" >start</a></div>
<div><a *ngIf="!isMobile"routerLink="/zoom" routerLinkActive="active" [queryParams]="{id:'join1'}" target="_blank" >join1</a></div>

<div><a *ngIf="!isMobile" routerLink="/zoom" routerLinkActive="active" [queryParams]="{id:'join2'}" target="_blank" >join2</a></div>
<h1>{{device}}</h1>
<router-outlet></router-outlet>

<div><a *ngIf="isMobile" href="https://us02web.zoom.us/j/88569336349?uname=radhe" target="_blank" >join1</a></div>
<div><a *ngIf="isMobile" href="https://us02web.zoom.us/j/88569336349?uname=kkg" target="_blank" >join2</a></div>
<div><a *ngIf="isMobile" href="https://us02web.zoom.us/s/88569336349?zak=eyJ0eXAiOiJKV1QiLCJzdiI6IjAwMDAwMSIsInptX3NrbSI6InptX28ybSIsImFsZyI6IkhTMjU2In0.eyJhdWQiOiJjbGllbnRzbSIsInVpZCI6ImVYS1A2YWVYUnYyVUlVd0UxbVNUYlEiLCJpc3MiOiJ3ZWIiLCJzdHkiOjk5LCJ3Y2QiOiJ1czAyIiwiY2x0IjowLCJzdGsiOiJSRi04d0dEVUljSVJiMEVLVDZyTkR4TjMyVm9PWDRYWEFsMUlIek92ZmRFLkJnWWdRMVp2YlhWM1VuRnliazVLYW05U00wUjRjVFk1TVVJM04xVlpTVE40SzJFQUFBd3pRMEpCZFc5cFdWTXpjejBBQkhWek1ESUFBQUY3cTQzRlFBQVNkUUFBQUEiLCJleHAiOjE2Mzg0NDY4MDAsImlhdCI6MTYzMDY3MDgwMCwiYWlkIjoiQnpvd1M4ZkdRbTZDWVB1cmFCQU9CUSIsImNpZCI6IiJ9.6G5w555YiM4K_mH7OK_RHahs9JijGKssvbiRkx-VIGQ"
    target="_blank" >START</a></div>





